.movie_item {
  text-decoration: none;

  > img {
    border-radius: 4px;
  }

  > div {
    > h3 {
      color: white;
    }

    > button {
      border: none;
      background: none;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
