.sign_in_page {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 100px auto;
  gap: 20px;

  > h2 {
    color: white;
    margin: 0;
  }

  > input {
    font-size: 18px;
    padding: 10px 10px;
    border: none;
    border-radius: 2px;
    outline: none;
  }

  > button {
    padding: 10px 5px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    outline: none;
    background-color: #e63946;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
}
